[pretix]
instance_name=${PRETIX_INSTANCE_NAME:-localhost}
url=${PRETIX_URL:-http://localhost}
currency=${PRETIX_CURRENCY:-EUR}
; DO NOT change the following value, it has to be set to the location of the
; directory *inside* the docker container
datadir=${PRETIX_DATADIR:-/data}
registration=${PRETIX_REGISTRATION:-off}

[locale]
default=${PRETIX_LOCALE_DEFAULT:-de}
timezone=${PRETIX_TIMEZONE:-Europe/Berlin}

[database]
backend=${DB_BACKEND:-postgresql}
name=${DB_NAME:-pretix}
user=${DB_USER:-pretix}
password=${DB_PASSWORD:-pretix}
host=${DB_HOST:-database}

[mail]
from=${MAIL_FROM:-no-reply@example.com}
host=${MAIL_HOST:-localhost}
user=${MAIL_USER:-}
password=${MAIL_PASSWORD:-}
port=${MAIL_PORT:-587}
tls=${MAIL_TLS:-off}
ssl=${MAIL_SSL:-off}

[redis]
location=${REDIS_LOCATION:-redis://cache/0}
; Remove the following line if you are unsure about your redis'security
; to reduce impact if redis gets compromised.
sessions=${REDIS_SESSIONS:-true}

[celery]
backend=${CELERY_BACKEND:-redis://cache/1}
broker=${CELERY_BROKER:-redis://cache/2}
